@keyframes change-color{
    0% {color: rgb(3,250,110,255);}
    25% {color: green;}
    50% {color: rgb(13, 33, 8);}
    75% {color: rgb(19, 48, 12);}
    100% {color: rgb(33, 86, 19);}
}

@keyframes change-colorMe{
    0% {border:2px solid rgb(3,250,110,255);}
    25% {border:2px solid green;}
    50% {border:2px solid rgb(13, 33, 8);}
    75% {border:2px solid rgb(19, 48, 12);}
    100% {border:2px solid rgb(33, 86, 19);}
}

p, menu, ol, hr, figure, dl, blockquote, ul, h1, h2, h3, h4, h5, h6 {
    margin-top: 0
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;

}

html{
    scroll-behavior: smooth;
}

header {
    background-color: rgba(23,24,16,255);
    width: 100%;
    height: 110px;

}

.logo {
    font-size: 32px;
    margin: 35px;
    color:rgb(33, 86, 19);
}

nav {
    display: flex;
}

nav ul {
   text-align: center; 
}

nav ul li {
    display: inline-block;
    margin: 15px;
    font-size: 16px;
    color: white;
    padding: 20px 20px;
    left: 450px;
    top: 10px;
    position: relative;
    letter-spacing: 2px;
    color: rgba(3,250,110,255);
    
}


a {
    color: rgba(3,250,110,255);
    text-decoration: none;
    cursor: pointer;
    transition: all  .4s;


}


a:hover{
    font-size: 22px;
    
}


/* MID SECTION */

.midSection{
    background-image: linear-gradient(180deg, rgba(23,24,16,255), rgb(13, 33, 8));
    height: 850px;
}

.midSection .text{
    position: relative;
    top: 210px;
    left: 250px;
    width: 500px;
    text-align: center;

}

.midSection .text h1{
    animation-name: change-color;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.midSection .text p {
    color: #fcfc;
}

#downloadCv {
    text-transform: uppercase;
    color: black;
    background-color: rgba(3,250,110,255);
    width: 250px;
    height: 30px;
    border: 3px solid rgb(13, 33, 8);
    border-radius: 14px;
    position: absolute;
    right: 130px;
    bottom: -40px;
    font-size: 14px;
    transition: 0.8s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}


#downloadCv:hover {
    background-color: black;
    color: rgba(3,250,110,255);

}





.midSection img {
    width: 400px;
    height: 500px;
    float: right;
    position: relative;
    right: 200px;
    bottom: 30px;
    animation-name: change-colorMe;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    padding: 20px;
}

.midSection img::before{
    content: "";
    position: absolute;
    width: 170px;
    height: 100%;
    background: linear-gradient(#00ccff, #d500f9);  
}



.skills {
    background-image: linear-gradient(180deg, rgba(13, 33, 8), rgb(19, 48, 12));
    height: 750px;
    

}

.skills h3 {
    color:rgba(3,250,110,255);
    text-transform: uppercase;
    font-size: 20px;
    position: absolute;
    right: 1140px;
    text-decoration: underline;
}

.skills h2 {
    color: #fcfc;
    font-size: 40px;
    position: absolute;
    right: 1000px;
    top: 1000px;

}

.skills img {
    background-color: rgba(3,250,110,255);    ;
    border-radius: 90px;
    display: block;
    margin: 20px;

}
.skills .htmlLogo {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 950px;
    top: 1100px;
}

.skills .cssLogo {
    width: 35px;
    height: 40px;
    position: absolute;
    right: 950px;
    top: 1250px;
    padding: 3px
}

.skills .javascriptLogo {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 950px;
    top: 1400px;
    padding: 2px;
}

h4 {
    color: #fcfc;
    font-size: 15px;
}

p {
    color: rgba(3,250,110,255);
    font-size: 12px;
}

.skills .htmlText{
    position: absolute;
    right: 715px;
    top: 1120px;
}

.skills .cssText{
    position: absolute;
    right: 777px;
    top: 1275px;
}

.skills .javascriptText{
    position: absolute;
    right: 875px;
    top: 1427px;
}

.skills .phtmlText {
    position: absolute;
    right: 565px;
    top: 1140px;
}

.skills .pcssText {
    position: absolute;
    right: 565px;
    top: 1295px;
}

.skills .pjavascriptText {
    position: absolute;
    right: 565px;
    top: 1445px;
}


.skills .bar1 {
    width: 400px;
    position: absolute;
    right: 565px;
    top: 1165px;

}

.skills .bar2 {
    width: 400px;
    position: absolute;
    right: 565px;
    top: 1320px;

}


.skills .bar3 {
    width: 400px;
    position: absolute;
    right: 565px;
    top: 1470px;

}


.projects {
    background-image: linear-gradient(180deg, rgba(19, 48, 12), rgb(33, 86, 19));  
    height: 1700px;
}

.projects h3 {
    color:rgba(3,250,110,255);
    text-transform: uppercase;
    font-size: 20px;
    position: absolute;
    right: 1140px;
    text-decoration: underline;
    top: 1750px;
}

.projects .myProjects a img {
    width: 450px;
    height: 250px;
    position: absolute;
    border: 2px dotted #fcfc;
    transition: 0.8s;

}

.projects .myProjects a img:hover {
    border: 4px dotted #fcfc;
}

.projects .myProjects a .project1{
    left: -200px;
    top: 150px;  
}

.projects .myProjects a .project2{
    left: 450px;
    top: 150px;  
}

.projects .myProjects a .project3{
    left: -200px;
    top: 500px;  
}

.projects .myProjects a .project4{
    left: 450px;
    top: 500px;  
}

.projects .myProjects a .project5{
    left: -200px;
    top: 850px;  
}

.projects .myProjects a .project6{
    left: 450px;
    top:850px;  
}

.projects .myProjects a .project7{
    left: -200px;
    top: 1200px;  
}

.projects .myProjects a .project8{

    left: 450px;
    top: 1200px;  
}


.contact-me {
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  .contact-me p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  
  .contact-me .button-two{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s ;
  }
  
  .contact-me .button-two:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
  }
  
  footer{
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180deg, rgb(33, 86, 19), #191919);  
  }
  
  footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  footer p:nth-child(2){
    color: #fcfc;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
  }
  
  .social{
    display: flex;
  }
  
  .social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(3,250,110,255);
    border-radius: 50%;
    margin: 15px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  .social a:hover{
    transform: scale(1.3);
    transition: .3s;
  }
  
  .end{
    position: absolute;
    color: rgba(3,250,110,255);
    bottom: 0;
    font-size: 14px;
    font-weight: bold;
  }
  
  footer h2 {
    color: white;
    font-size: 16px;
  }